<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name = "HRM Application">
<!--    <listeners>-->
<!--        <listener class-name = "swagutility.Reporting"/>-->
<!--    </listeners>-->
    <test name = " HRM Login page test">
        <parameter name="browser" value="chrome" />

        <classes>

            <class name="com.hrm.testcases.Test_HRM"/>


        </classes>
    </test>
</suite>